<!DOCTYPE html>
<html>
<head>
    <title>Project List</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <div class="container mt-5">
        <h2 class="mb-4">Project List</h2>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">Project Name</th>
                    <th scope="col">Project Description</th>
                    <th scope="col">Actions</th>
                    <th scope="col">Manager</th>
                </tr>
            </thead>
            <tbody>
                {% for project in projects %}
                <tr>
                    <td>{{ project.project_name }}</td>
                    <td>{{ project.project_description }}</td>
                    <td>
                        <div class="btn-group" role="group">
                            <form method="post" action="{% url 'deleteproject' project.id %}">
                                {% csrf_token %}
                                <button type="submit" class="btn btn-danger">Delete</button>
                            </form>
                            <form method="post" action="{% url 'update_project' project.id %}">
                                {% csrf_token %}
                                <button type="submit" class="btn btn-info">Update</button>
                            </form>
                        </div>
                    </td>
                    <td>{{ project.managers }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</body>
</html>
